#hero {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  align-items: center;
  border-bottom: 0px;
  background: $white-color;
  font-weight: 400;
  color: $dark-blue-text;
  padding: 0rem 5.6rem;
  margin-bottom: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;

  // If you want to set a background image on the hero section, uncomment these with yout custom image

  /* background: url("/src/assets/[your-image].png");
  background-position: center;
  background-size: cover; */

  @include respond(phone) {
    padding: 0rem $default-font-size;
  }

  .hero-title {
    font-size: 5.6rem;
    font-weight: 700;
    margin-bottom: 3.2rem;
    text-align: left;

    @include respond(tab-land) {
      font-size: 4rem;
    }
    @include respond(tab-port) {
      font-size: 3.6rem;
      text-align: center;
    }
    @include respond(phone) {
      font-size: 3.5rem;
      line-height: 1.5;
    }
    @include respond(phone-xs) {
      font-size: 2.8rem;
    }
  }

  .hero-cta {
    display: flex;

    @include respond(tab-port) {
      justify-content: center;
    }

    & a {
      font-size: 2.4rem;

      @include respond(phone) {
        font-size: 2rem;
      }
    }
  }

  svg {
    vertical-align: middle;
  }

  .scroll-down {
    position: absolute;
    left: 50%;
    margin-left: -20px;
    width: 40px;
    height: 40px;
    bottom: 50px;
    padding-left: 7px;
    cursor: pointer;
    z-index: 2;
    color: $primary-color;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .scroll-down.svg svg {
    width: 25px;
    opacity: 1;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
  }

  .scroll-down.svg .stroke {
    stroke: $primary-color;
  }

  .scroll-down.svg .scroller {
    fill: $primary-color;
    -webkit-animation: updown 1s infinite;
    -moz-animation: updown 1s infinite;
    -o-animation: updown 1s infinite;
    animation: updown 1s infinite;
  }

  @-webkit-keyframes updown {
      0% {
          -webkit-transform: translate(0, 0);
          transform: translate(0, 0)
      }
      50% {
          -webkit-transform: translate(0, 5px);
          transform: translate(0, 5px)
      }
      100% {
          -webkit-transform: translate(0, 0);
          transform: translate(0, 0)
      }
  }
  @-moz-keyframes updown {
      0% {
          -moz-transform: translate(0, 0);
          transform: translate(0, 0)
      }
      50% {
          -moz-transform: translate(0, 5px);
          transform: translate(0, 5px)
      }
      100% {
          -moz-transform: translate(0, 0);
          transform: translate(0, 0)
      }
  }
  @-o-keyframes updown {
      0% {
          -o-transform: translate(0, 0);
          transform: translate(0, 0)
      }
      50% {
          -o-transform: translate(0, 5px);
          transform: translate(0, 5px)
      }
      100% {
          -o-transform: translate(0, 0);
          transform: translate(0, 0)
      }
  }
  @keyframes updown {
      0% {
          -webkit-transform: translate(0, 0);
          transform: translate(0, 0)
      }
      50% {
          -webkit-transform: translate(0, 5px);
          transform: translate(0, 5px)
      }
      100% {
          -webkit-transform: translate(0, 0);
          transform: translate(0, 0)
      }
  }
}
