// COLORS
// $primary-color: #02aab0;
// $secondary-color: #00cdac;

$primary-color: #5B6FC1;
$secondary-color: #8D63BD;
$tertiary-color: #756AC1;

$white-color: #fff;

$dark-grey: #333333;

$dark-blue-text: $primary-color;

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
